In [1]:
%load_ext autoreload
%autoreload 2

import sys
import os
current_dir = os.path.abspath('')
parent_dir = os.path.abspath(os.path.join(current_dir, os.pardir))
sys.path.append(parent_dir)

In [2]:
from src.expr.planner import QParser

In [3]:
schema = """CREATE TABLE IF NOT EXISTS `frpm` (`CDSCode` TEXT, `Academic Year` TEXT, `County Code` TEXT, `District Code` INT, `Free Meal Count (K-12)` FLOAT);
CREATE TABLE IF NOT EXISTS `satscores` (`cds` TEXT, `rtype` TEXT, `sname` TEXT, `dname` TEXT, `cname` TEXT, `NumGE1500` INT, PRIMARY KEY (`cds`));
CREATE TABLE IF NOT EXISTS `schools` (`CDSCode` TEXT, `NCESDist` TEXT, `NCESSchool` TEXT, `StatusType` TEXT, PRIMARY KEY (`CDSCode`))"""

sql = """SELECT T2.NCESDist FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.NCESDist IS NULL order by T2.NCESDist"""

# from src.uexpr.planner import Plan
ddls = schema.split(';')
parser = QParser()
plan = parser.explain(sql, schema = ddls)

In [9]:
print(str(plan))
print('**' * 10)
print(plan.sql())

Sort(sort=[0], dir=['ASCENDING'], offset=0, limit=INF)
  Project($6)
    Filter($6 IS NULL)
      Join(condition=[$0 = $5], join_kind=inner)
        Scan(frpm)
        Scan(schools)
********************
Sort(sort=[0], dir=['ASCENDING'], offset=0, limit=INF)
  Project($6)
    Filter($6 IS NULL)
      Join(condition=[$0 = $5], join_kind=inner)
        Scan(frpm)
        Scan(schools)

Sort(sort=[0], dir=['ASCENDING'], offset=0, limit=INF)
  Project($6)
    Filter($6 IS NULL)
      Join(condition=[$0 = $5], join_kind=inner)
        Scan(frpm)
        Scan(schools)

In [ ]:
print(repr(plan))

Sort(
  this=Project(
    this=Filter(
      this=Join(
        this=Scan(
          table=frpm,
          id=0),
        expression=Scan(
          table=schools,
          id=1),
        condition=EQ(
          this=Column(
            this=Identifier(this=$0, quoted=False),
            datatype=DataType(this=Type.VARCHAR, nested=False),
            ref=0),
          expression=Column(
            this=Identifier(this=$5, quoted=False),
            datatype=DataType(this=Type.VARCHAR, nested=False),
            ref=5)),
        joinType=inner,
        id=2),
      condition=Is_Null(
        this=Column(
          this=Identifier(this=$6, quoted=False),
          datatype=DataType(this=Type.VARCHAR, nested=False),
          ref=6)),
      variableset=[],
      id=3),
    expressions=[
      Column(
        this=Identifier(this=$6, quoted=False),
        datatype=DataType(this=Type.VARCHAR, nested=False),
        ref=6)],
    id=4),
  sort=[
    {'column': 0, 'type': 'VARCHAR'}],
  dir=[
    ASCENDING],
  offset=0,
  id=5,
  dialect=<src.expr.planner.QParser object at 0x7f28bee96040>)